# Ignore everything
*

# But not these files...
!.gitignore
!.github/
!config.yaml
!example.pdf
!example.md
!example.png
!example.bib
!readme.md

!/template/logo.png
!/template/apa.csl
!/template/template.tex

!/lua-filters/tables-rules.lua
!/lua-filters/list-table.lua

!/hacks/maketitle.tex
!/hacks/footer.tex
!/hacks/heading.tex
!/hacks/paragraph.tex
!/hacks/numbering.tex
!/hacks/debug.tex

!/backmatter/lampiran.tex

!/frontmatter/abstract.tex
!/frontmatter/abstrak.tex
!/frontmatter/pengantar.tex
!/frontmatter/pengesahan.tex
!/frontmatter/pernyataan.tex
!/frontmatter/persetujuan.tex

!/server/**/*

# ...even if they are in subdirectories
!*/
