# Ignore everything
*

# But not these files...
!.gitignore
!apa.csl
!config.yaml
!example.pdf
!example.md
!example.png
!example.bib
!readme.md
!template.tex
!tables-rules.lua

!/hacks/maketitle.tex
!/hacks/footer.tex
!/hacks/heading.tex
!/hacks/paragraph.tex
!/hacks/numbering.tex
!/hacks/table.tex
!/hacks/debug.tex

!/backmatter/lampiran.tex

!/frontmatter/abstract.tex
!/frontmatter/abstrak.tex
!/frontmatter/pengantar.tex
!/frontmatter/pengesahan.tex
!/frontmatter/pernyataan.tex
!/frontmatter/persetujuan.tex

# ...even if they are in subdirectories
!*/
